@font-face {
    font-family: 'Mario';
    src: url('/fonts/SuperMario256.eot');
    src: url('/fonts/SuperMario256.eot?#iefix') format('embedded-opentype'),
         url('/fonts/SuperMario256.woff') format('woff'),
         url('/fonts/SuperMario256.ttf') format('truetype'),
         url('/fonts/SuperMario256.svg#SuperMario256') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mario{
    font-family: "Mario";
}

.yellow-bg{
    background-color:#ffda09;
}

.red-bg{
    background-color: #eb1f22;
}

.red{
    color:#eb1f22;
}

.center-text{
    text-align: center;
    
}

.contained-img{
    max-width: 100%;
}

.bold-text{
    font-weight: 700;
}
