h1{
    color:darkgreen;
    font-family: "Georgia";
    text-align: center;
}

h2{
    font-family: "Georgia";
    text-align: center;
}

p{
    line-height: 25px;
}

a:link{
    text-decoration: none;
}

a:visted{
    text-decoration: underline;
}

.uppercase{
    text-transform: uppercase;
}